:root{
    --color-red: red;
    --background1: grey;
    --background2: black;
}
/* div{
    background-color: greenyellow;
    width: 150px;
    height: 150px;
    border: 10px solid grey;
    overflow: hidden;
    color: var(--color-red);
}
@media only screen and (min-width:200px) and (max-width: 600px){
    div{
        background-color: red;
    }
}
img{
    object-fit: fill;
}
p{
    width: 150px;
    height: 150px;
    color: var(--color-red);
} */
.case:nth-child(even){
background: var(--background1);
}
.case{
    width: 150px;
    height: 150px;
    background: var(--background2);
}
