/* div{
    column-count: auto;
    column-width: 150px;
    column-gap: 20px;
    column-rule: 1px dotted green;
    
} */
div{
    border: 1px solid grey;
}
.container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* justify-content: flex-end; */
    /* align-items: stretch; */
}
.box{
    width: 100px;
    height: 100px;
    background-color: green;
}
.box:nth-child(1){
    order: 3;
}
.box:nth-child(2){
    order: 2;
    align-self: flex-end;
}
.box:nth-child(3){
    order: 1;
}
